 <div class="main-wrapper">
 
    
    <!--Header Part Start-->
     <header id="header">
      	<div class="htop">
      	     <div class="test">test</div>
        	<div id="language" class="language"> <span>Language<b></b></span>
          		<ul class="langItems">
            		<li><a title="English"><img src="resources/assets/image/lang/gb.png" alt="English">English</a></li>
            		<li><a title="Türkçe"><img src="resources/assets/image/lang/tr.png" alt="Türkçe">Türkçe</a></li>
          		</ul>
        	</div>
        	<div id="currency" class="currency"> <span>Currency<b></b></span>
          		<ul class="currItems">
            		<li> <a title="Euro">€ - Euro</a> </li>
            		<li> <a title="Pound Sterling">£ - Pound Sterling</a> </li>
            		<li> <a title="US Dollar"><b>$ - US Dollar</b></a> </li>
          		</ul>
        	</div>
        	<div class="links"> <a href="http://demo.harnishdesign.net/html/polishop/login.html">Login</a> <a href="http://demo.harnishdesign.net/html/polishop/register.html">Register</a> <a href="#" id="wishlist-total">Wish List (0)</a> <a href="#">My Account</a> <a href="http://demo.harnishdesign.net/html/polishop/checkout.html">Checkout</a> </div>
         </div>
         
      </header>
      <!-- Header Part End -->
      
</div>

