

         
              <table width="200">
                <tbody><tr>
                  <td class="name" width="150"><span style="margin-left:15px">{{name}}</span></td>
                  <td class="total">${{price}}</td>
                  <td>
                  
         <h4><img src="assets/image/cart/cart-add.png" alt="add to your cart" title="Add to your cart"></h4>
                 
                  </td>
                  <td class="remove"><img src="assets/image/cart/remove-small.png" alt="Remove" title="Remove"></td>
                </tr>
              
              </tbody>
              </table>
          